  body{
              
            
            background-image: url("sniegs.jpg");
             color: brown ; 
             }
         h1 {
  
  color: rosybrown;
  text-align: center;
  font-style: italic;
  font-family: "Lucida Console", "Courier New" ;
}
         table {
  width: 100%;
}
th, td {
  padding: 15px;
  text-align: center;
}